@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=PT+Serif&display=swap');
* {
  box-sizing: border-box;
}

#makethisvanish {
  display: block;
  position: fixed;
  background-color: black;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  height: auto;
  opacity: 1;
  z-index:1000;
  margin: 0 auto;
  transition: opacity .2s linear;
}

#makethisvanish > img {
  width: 100%;
  height: auto;
}

#makethisvanish > h1 {
  font-size: 100px;
  position: relative;
  left: 600px;
  bottom: 230px;
}

body {
  width: 100vW;
  height: 100vH;
  background: black;
  color: white;
  overflow: hidden;
}

.logo_img {
  z-index: 3;
  position: fixed;
  top: 0;
  left:0;
  width: 100%;
  height: 80px;
  background-color: black;
}

.logo_img > h1 {
  bottom: 100px;
  font-size: 45px;
  position: relative;
  left: 100px;
  bottom: 50px;
}

#logo_img {
  width: 300px;
  position: sticky;
  top: 0;
}

.container {
  display: grid;
  min-height: 100vH;
  grid-template-columns: 30% 70%;
  margin: 0 auto;
  text-align: center;
  margin-top: 100px;
  background-color: inherit;
}

.grid-left {
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 10px;
  padding-top: 350px;
  background-color: inherit;
  overflow: auto;
}

.grid-left > a {
  display: inline-block;
  color: white;
  text-decoration: none;
  font-size: 24px;
  padding: 0;
  margin-bottom: 10px;
  overflow: hidden;
}


.grid-right {
  width: 100%;
  height: auto;
  font-size: 22px;
  text-align: left;
  margin: 0 auto;
  overflow: auto;
  color: white;
}

li {
  text-decoration: none;
  list-style-type: none;
}

#image_slide {
display: block;
width: auto;
max-height: 100vH;
overflow: hidden;
align-content: center;
margin: 0 auto;
padding: 10px;
padding-left: 150px;
padding-top: 120px;
padding-right: 100px;
padding-bottom: 400px;
}

#image_slide > img {
  display: grid;
}

[data-component="slideshow"] .slide {
	display: none;
}

[data-component="slideshow"] .slide.active {
  width: 100%;
	display: grid;
}

#about_text {
  display: grid;
  overflow: scroll;
  width: 75%;
  height: auto;
  font-size: 25px;
  padding: 0;
  padding-left: 150px;
  padding-top: 120px;
  padding-right: 100px;
  padding-bottom: 400px;
}

#about_text > p {
  font-size: 20px;
}


#artList {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0;
  overflow: auto;
  padding: 10px;
  padding-left: 150px;
  padding-top: 120px;
  padding-right: 100px;
  margin-bottom: 500px;
  scroll-behavior: smooth;
}

#artList > li {
  font-size: 22px;
}

#artList > li > a {
  text-decoration: none;
  color: white;
}

#artList > li > a:hover {
  letter-spacing: 5px;
}

.artistCollection {
  display: none;
  margin-top: 100px;
  width: 100%;
  position: fixed;
  top:0;
  width: 100vW;
  height: 100vH;
  background-color: black;
  overflow: auto;
  padding-left: 150px;
  padding-bottom: 200px;
}

.artistCollection > p {
  z-index: 4;
  font-size: 17px;
  color: white;
}

.artistCollection > img {
  display: block;
  width: auto;
  margin: 20px;
}





@media only screen and (max-width: 900px) {
  .container {
    grid-template-columns: 15% 85%;
  }
  #makethisvanish > h1 {
    font-size: 80px;
    position: relative;
    left: 250px;
    bottom: 130px;
  }
}